<% provide(:title, "Home") %>
<div class="center jumbotron">
    <h1>Sample Appへようこそ</h1>
  
    <h2>
      ここはSample Appのホームページです
    </h2>
  
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  