<% unless current_user?(@user) %>
  <div class="d-flex justify-content-center my-3">
    <% if current_user.following?(@user) %>
      <%= render "unfollow" %>
    <% else %>
      <%= render "follow" %>
    <% end %>
  </div>
<% end %>