$gray-light: #eaeaea;

body {
  padding-top: 60px;
}

.footer {
  margin-top: 40px;
  padding-top: 10px;
  border-top: 1px solid $gray-light;
  color: #777;
}

#error_explanation {
  color: #a94442;
}

.field_with_errors .form-control {
  border-color: #a94442;
}